// Variables
$font-size-global: clamp(
  1.1rem,
  calc(1.1rem + ((1vw - 0.265625rem) * 0.3153)),
  1.3rem
);
$font-size-input: clamp(
  1rem,
  calc(1rem + ((1vw - 0.265625rem) * 0.1576)),
  1.1rem
);

$font-family: "Roboto", sans-serif;

$accent-1: #3571d8;
$accent-3: #535353;
$accent-4: #696969;
$accent-4-transparence: #696969f2;
$accent-5: #868686;
$accent-6: #dddddd;
$accent-6-transparence: #ffffff66;
$accent-danger: rgb(255, 87, 82);

// Material shadows
$shadow-z1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$shadow-z2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$shadow-z4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$shadow-z8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
$shadow-z18: rgba(0, 0, 0, 0.2) 0px 9px 11px -5px,
  rgba(0, 0, 0, 0.14) 0px 18px 28px 2px, rgba(0, 0, 0, 0.12) 0px 7px 34px 6px;

:root {
  --task-complete: hsl(126, 62%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  padding: 0.8rem;
  cursor: pointer;
  box-shadow: $shadow-z1;
  transition: all 0.3s;
  display: grid;
  place-content: center;
  &:hover {
    box-shadow: $shadow-z4;
  }
}
.button-1 {
  background-color: #d3d3d3;
  color: $accent-3;
  &:hover {
    background-color: $accent-6;
  }
  &:focus {
    background-color: $accent-6;
  }
  &:active {
    filter: brightness(0.5);
  }
}
.button-2 {
  color: white;

  background-color: $accent-1;
  &:hover {
    filter: brightness(1.4);
  }
  &:focus {
    filter: brightness(1.2);
  }
  &:active {
    filter: brightness(0.8);
  }
}
.project-button {
  margin: auto;
  max-width: min(250px, 30vw);
  min-width: 100px;
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
}
.checkbox-done {
  position: relative;
  padding: 1.25rem;
  appearance: none;
  outline: 0;
  margin: 0;
  &:hover {
    background: hsla(126, 80%, 61%, 0.582);
  }
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 45%;
    left: 50%;
    width: 0.6em;
    height: 1.3em;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: white;
    border-color: green;
    background: green;
    &::before {
      opacity: 1;
    }
  }
}

body {
  font-family: $font-family;
  font-size: $font-size-global;
  min-height: 0vw; // safari responsive font fix
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  background: $accent-4;
}

.nav {
  font-size: 1.2rem;
  width: 100%;
  position: relative;
  padding-bottom: 10px;

  .button-login {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    padding: 0.5em;
    color: $accent-4;
    text-align: center;
    text-decoration: none;
  }
}
.header {
  position: sticky;
  z-index: 10;
  padding: 0;
  top: 0;
  background: $accent-4-transparence;
  border-bottom: 1px black solid;
  font-size: 1.1rem;
  transition: box-shadow linear 0.3s;
}
.progress-bar {
  margin: 0 1rem;
  height: 3rem;
  color: white;
  background-color: rgb(177, 177, 177);
  position: relative;
  overflow: hidden;
  box-shadow: $shadow-z8;
  z-index: 2;

  &::before {
    content: "";
    width: calc(var(--main-pbar-width) * 1%);
    position: absolute;
    top: 0;
    left: 0;
    background-color: $accent-1;
    height: 100%;
    transition: width 0.4s cubic-bezier(0, 0.06, 0.4, 1.26);
  }
  &::after {
    content: var(--main-progress);
    font-size: 1.2em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.service-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
  padding: 1em 1em 0.25em;
  margin: 0;
  font-weight: 500;
  color: $accent-6;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  li {
    padding: 0.3em;
  }
}

.add-task-form {
  display: flex;
  font-size: $font-size-input;
  padding: 1rem 1rem 0.5rem;
  gap: 0.3em;
  input {
    border: none;
    padding: 1em 0.5em;
    background: $accent-6;
    font-family: $font-family;
    font-size: $font-size-input;
    color: $accent-4;
    &[type="text"] {
      flex: 4 1 50%;
    }
    &[type="number"] {
      text-align: center;
      width: 15%;
      flex: 1 1 10%;
    }
  }

  select {
    flex: 1 1 10%;
    border: none;
    color: $accent-4;
    padding: 0;
    text-align: center;
    background: $accent-6;
    font-family: $font-family;
    font-size: $font-size-input;
    option {
      color: $accent-4;
      font-size: 1.2rem;
    }
  }

  .add-button {
    flex: 0 0 0;
    color: white;
  }

  .button-reload {
    background: lightgrey;
    margin-left: auto;
    &:hover {
      background: $accent-6;
    }
  }
}
.sub-tasks-container {
  .sub-form {
    padding: 0.5rem;
    input {
      background: $accent-6-transparence;
    }
    input[type="text"] {
      flex-grow: 1;
    }
    select {
      background: $accent-6-transparence;
      option {
        color: $accent-4;
        background: $accent-6;
      }
    }
  }
}
.validate-message {
  color: red;
  margin: 0;
  position: fixed;
  bottom: 0;
  z-index: 4;
  background-color: #696969;
  width: 100vw;
  max-width: 1440px;
  text-align: center;
  font-size: 2em;
}

.tasks-list-container {
  background-color: $accent-4;
  padding: 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 20vh;
}
.task-list-child {
  background: $accent-6;
  position: relative;
  transition: box-shadow 0.6s cubic-bezier(0, 0.48, 0.25, 1);
}
.task {
  position: relative;
  display: grid;
  grid-template-columns: 7% auto 7% 15% 7%;
  align-items: center;
  justify-items: center;
  padding: 1.2em;
  gap: 0.5rem;
  .task-name {
    max-width: 50ch;
    color: $accent-3;
    line-height: 1.4em;
    margin: 0;
    margin-right: auto;
  }
  pre {
    padding: 0 0.5rem;
  }
  .task-time {
    color: $accent-4;
    font-weight: 500;
    color: $accent-5;
    text-align: center;
  }
  pre {
    margin: 0;
    white-space: pre-wrap;
    font-family: $font-family;
  }
}
.sub-tasks-container {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: $shadow-z4;
  flex-direction: column;
  margin: 0 0 0 5rem;
}
.add-sub-task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.sub-task {
  position: relative;
  background: $accent-6;
  margin: 0 0.5rem 0.5rem 0.5rem;
  transition: box-shadow 0.6s cubic-bezier(0, 0.48, 0.25, 1);
}

.task-complete {
  .button-1:not(.checkbox-done):not(:hover):not(:focus):not(:active) {
    background-color: var(--task-complete);
    transition: background-color 0.6s;
  }
  .edit-task:hover,
  .edit-task:focus {
    filter: brightness(1.1);
    background-color: var(--task-complete);
  }
  .edit-task:active {
    filter: brightness(0.5);
  }

  .checkbox-done:hover,
  .checkbox-done:focus {
    filter: brightness(1.2);
  }
  .checkbox-done:active {
    filter: brightness(1.2);
    filter: brightness(0.8);
  }
}

.button-remove {
  padding: 0.5rem;
  font-size: 0;
  &:hover {
    transition: background-color 0.3s;
    background-color: $accent-danger;
  }
  &:focus {
    background-color: rgb(255, 87, 82);
  }
  &:active {
    // filter: brightness(0.5);
  }
}
.edit-task {
  padding: 0.5rem;
  font-size: 0;
}

.elevated {
  box-shadow: $shadow-z18;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s linear;
  background-color: grey;
  padding: 0.25rem;
  width: 100%;
  min-height: 100%;
  box-shadow: $shadow-z8;
  z-index: 3;
  display: grid;
  grid-template-columns: auto 5em 5em;
  align-items: end;
  gap: 0.35rem;
  textarea {
    font-family: $font-family;
    font-size: $font-size-input;
    line-height: 22px;
    align-self: stretch;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: $accent-3;
    grid-row: span 2;
    resize: vertical;
  }
  input,
  select {
    font-size: $font-size-input;
    font-family: $font-family;
    text-align: center;
    min-width: 0%;
    align-self: start;
    padding: 0.65em;
    border: 0;
    color: $accent-3;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .button-edit-save {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  .button-edit-cancel {
    grid-row-start: 2;
    grid-column-start: 3;
  }
  .task-time {
    color: $accent-6;
    grid-column: span 2;
  }
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 2rem 3rem 3rem;
  color: $accent-6;
  align-items: center;
  justify-items: center;
  border-top: 1px black solid;
  .logo {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    .logo-container {
      display: flex;
      gap: 0.5rem;
      font-size: 2rem;
      color: white;
      align-items: center;
      img {
        max-width: 2rem;
      }
    }
    .copyright {
      font-size: 0.8em;
      opacity: 0.5;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    }
  }
  .footer-nav {
    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s;
    }
    a:visited {
      color: inherit;
    }
    a:hover {
      color: white;
    }
    a:active {
      color: $accent-5;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .task-list-child {
    .task {
      padding: 1em;
    }
  }
}

@media only screen and (max-width: 700px) {
  .progress-bar {
    height: 2.5rem;
  }
  .add-task-form {
    flex-wrap: wrap;
    input {
      &[type="text"] {
        flex: 1 1 100%;
      }
      &[type="number"] {
        flex: 1 1 110px;
      }
    }
    select {
      flex: 1 1 110px;
    }
  }
  .task-list-child {
    .task {
      grid-template-columns: max(12%, 44px) auto max(12%, 44px);
      padding: 0.5em;
      .checkbox-done {
        align-self: start;
        align-items: center;
        padding: 1.35rem;
      }
      .task-name {
        grid-column: span 2;
        grid-row: auto;
      }
      .sub-tasks-container {
        margin-left: 1rem;
      }
    }
    .overlay {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto 44px;
      align-items: center;
      justify-items: stretch;
      textarea {
        padding: 3px;
        grid-column: span 4;
        grid-row: auto;
      }
      input,
      select {
        text-align: center;
        align-self: stretch;
        padding: 0;
      }
      .button-edit-save {
        grid-column-start: 3;
        grid-row-start: 2;
        padding: 0.7rem;
        align-self: stretch;
      }
      .button-edit-cancel {
        grid-column-start: 4;
        grid-row-start: 2;
        padding: 0.7rem;
        align-self: stretch;
      }
    }
  }
  .footer {
    .footer-nav {
      padding: 1rem;
    }
    padding: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    .logo {
      grid-row-start: 3;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0;
  }
  .service-bar {
    flex-direction: column;
    gap: 0;
    padding: 1em 1em 0.25em;
    margin: 0;
    align-items: center;
    padding: 0.2rem;
    li {
      padding: 0.1em;
    }
  }
  .add-task-form {
    padding: 0.5rem;
  }
  .tasks-list-container {
    padding: 0 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 425px) {
  .task-list-child {
    .sub-tasks-container {
      margin-left: 1rem;
    }
  }
  .overlay {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 40px 40px;
    textarea {
      padding: 3px;
      grid-column: span 2;
    }
    .button-edit-save {
      grid-row-start: 3;
      grid-column-start: 1;
    }
    .button-edit-cancel {
      grid-row-start: 3;
      grid-column-start: 2;
    }
  }
  .validate-message {
    font-size: 1.5em;
  }
}
