:root {
  --task-complete: hsl(126, 80%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  padding: 0.8rem;
  cursor: pointer;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.button:hover {
  background-color: #dddddd;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.project-button {
  margin: auto;
  max-width: min(250px, 30vw);
  min-width: 100px;
  font-size: 1.1em;
  font-weight: 500;
  text-align: center;
  background: #3673ce;
  color: white;
}
.project-button:hover {
  background: #3385ff;
}

.checkbox-done {
  background: #d3d3d3;
  position: relative;
  padding: 1.25rem;
  color: black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  margin: 0;
}
.checkbox-done:hover {
  background: rgba(76, 235, 92, 0.582);
}
.checkbox-done::before {
  position: absolute;
  content: "";
  display: block;
  top: 45%;
  left: 50%;
  width: 0.6em;
  height: 1.3em;
  border-style: solid;
  border-color: white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
}
.checkbox-done:checked {
  color: white;
  border-color: green;
  background: green;
}
.checkbox-done:checked::before {
  opacity: 1;
}

.edit-task {
  padding: 0.5rem;
  color: #535353;
  background: lightgray;
  font-size: 0;
}

.button-remove {
  color: #535353;
  background: lightgray;
  padding: 0.5rem;
  font-size: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.1rem, 1.1rem + (1vw - 0.265625rem) * 0.3153, 1.3rem);
  min-height: 0vw;
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  background: #696969;
}

.nav {
  font-size: 1.2rem;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}
.nav .button-login {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  padding: 0.5em;
  color: #696969;
  background: lightgray;
  text-align: center;
  text-decoration: none;
}
.nav .button-login:hover {
  background: #dddddd;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  padding: 0;
  top: 0;
  background: #696969f2;
  border-bottom: 1px black solid;
  font-size: 1.1rem;
  transition: box-shadow linear 0.3s;
}

.progress-bar {
  margin: 0 1rem;
  height: 3rem;
  color: white;
  background-color: #b1b1b1;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 2;
}
.progress-bar::before {
  content: "";
  width: calc(var(--main-pbar-width) * 1%);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3673ce;
  height: 100%;
  transition: width 0.4s cubic-bezier(0, 0.06, 0.4, 1.26);
}
.progress-bar::after {
  content: var(--main-progress);
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
  padding: 1em 1em 0.25em;
  margin: 0;
  font-weight: 500;
  color: #dddddd;
}
.service-bar li {
  padding: 0.3em;
}

.add-task-form {
  display: flex;
  font-size: clamp(1rem, 1rem + (1vw - 0.265625rem) * 0.1576, 1.1rem);
  padding: 1rem 1rem 0.5rem;
  gap: 0.3em;
}
.add-task-form input {
  border: none;
  padding: 1em 0.5em;
  background: #dddddd;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1rem + (1vw - 0.265625rem) * 0.1576, 1.1rem);
  color: #696969;
}
.add-task-form input[type=text] {
  flex: 4 1 50%;
}
.add-task-form input[type=number] {
  text-align: center;
  width: 15%;
  flex: 1 1 10%;
}
.add-task-form select {
  flex: 1 1 10%;
  border: none;
  color: #696969;
  padding: 0;
  text-align: center;
  background: #dddddd;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1rem + (1vw - 0.265625rem) * 0.1576, 1.1rem);
}
.add-task-form select option {
  color: #696969;
  font-size: 1.2rem;
}
.add-task-form .add-button {
  flex: 0 0 0;
  color: white;
  background-color: #3673ce;
}
.add-task-form .add-button:hover {
  background: #3385ff;
}
.add-task-form .button-reload {
  background: lightgrey;
  margin-left: auto;
}
.add-task-form .button-reload:hover {
  background: #dddddd;
}

.sub-tasks-container .sub-form {
  padding: 0.5rem;
}
.sub-tasks-container .sub-form input {
  background: #ffffff66;
}
.sub-tasks-container .sub-form input[type=text] {
  flex-grow: 1;
}
.sub-tasks-container .sub-form select {
  background: #ffffff66;
}
.sub-tasks-container .sub-form select option {
  color: #696969;
  background: #dddddd;
}

.validate-message {
  color: red;
  margin: 0;
  position: fixed;
  bottom: 0;
  z-index: 4;
  background-color: #696969;
  width: 100vw;
  max-width: 1440px;
  text-align: center;
  font-size: 2em;
}

.tasks-list-container {
  background-color: #696969;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-list-child {
  background: #dddddd;
  position: relative;
  transition: box-shadow 0.6s cubic-bezier(0, 0.48, 0.25, 1);
}

.task {
  position: relative;
  display: grid;
  grid-template-columns: 7% auto 7% 15% 7%;
  align-items: center;
  justify-items: center;
  padding: 1.2em;
  gap: 0.5rem;
}
.task .task-name {
  max-width: 50ch;
  color: #535353;
  line-height: 1.4em;
  margin: 0;
  margin-right: auto;
}
.task pre {
  padding: 0 0.5rem;
}
.task .task-time {
  color: #696969;
  font-weight: 500;
  color: #868686;
  text-align: center;
}
.task pre {
  margin: 0;
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
}

.sub-tasks-container {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  flex-direction: column;
  margin: 0 0 0 5rem;
}

.add-sub-task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.add-sub-task .add-sub-btn {
  color: white;
  background-color: #3673ce;
  margin-left: 1rem;
}

.sub-task {
  position: relative;
  background: #dddddd;
  margin: 0 0.5rem 0.5rem 0.5rem;
  transition: box-shadow 0.6s cubic-bezier(0, 0.48, 0.25, 1);
}

.task-complete .edit-task,
.task-complete .button-remove {
  background: var(--task-complete);
  transition: background-color 0.6s linear;
}

.elevated {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 11px -5px, rgba(0, 0, 0, 0.14) 0px 18px 28px 2px, rgba(0, 0, 0, 0.12) 0px 7px 34px 6px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s linear;
  background-color: grey;
  padding: 0.25rem;
  width: 100%;
  min-height: 100%;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 3;
  display: grid;
  grid-template-columns: auto 5em 5em;
  align-items: end;
  gap: 0.35rem;
}
.overlay textarea {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1rem + (1vw - 0.265625rem) * 0.1576, 1.1rem);
  line-height: 22px;
  align-self: stretch;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #535353;
  grid-row: span 2;
  resize: vertical;
}
.overlay input,
.overlay select {
  font-size: clamp(1rem, 1rem + (1vw - 0.265625rem) * 0.1576, 1.1rem);
  font-family: "Roboto", sans-serif;
  text-align: center;
  min-width: 0%;
  align-self: start;
  padding: 0.65em;
  border: 0;
  color: #535353;
  background-color: rgba(255, 255, 255, 0.8);
}
.overlay .button {
  text-align: center;
  padding: 0.5em;
  background-color: lightgray;
  color: #535353;
}
.overlay .button:hover {
  background-color: #dddddd;
}
.overlay .button:active {
  background-color: #3385ff;
}
.overlay .button-edit-save {
  grid-row-start: 2;
  grid-column-start: 2;
}
.overlay .button-edit-cancel {
  grid-row-start: 2;
  grid-column-start: 3;
}
.overlay .task-time {
  color: #dddddd;
  grid-column: span 2;
}

@media only screen and (max-width: 1024px) {
  .task-list-child .task {
    padding: 1em;
  }
}
@media only screen and (max-width: 700px) {
  .progress-bar {
    height: 2.5rem;
  }

  .add-task-form {
    flex-wrap: wrap;
  }
  .add-task-form input[type=text] {
    flex: 1 1 100%;
  }
  .add-task-form input[type=number] {
    flex: 1 1 110px;
  }
  .add-task-form select {
    flex: 1 1 110px;
  }

  .task-list-child .task {
    grid-template-columns: max(12%, 44px) auto max(12%, 44px);
    padding: 0.5em;
  }
  .task-list-child .task .checkbox-done {
    align-self: start;
    align-items: center;
    padding: 1.35rem;
  }
  .task-list-child .task .task-name {
    grid-column: span 2;
    grid-row: auto;
  }
  .task-list-child .task .sub-tasks-container {
    margin-left: 1rem;
  }
  .task-list-child .task .edit-task {
    padding: 0.6rem;
  }
  .task-list-child .task .button-remove {
    padding: 0.6rem;
  }
  .task-list-child .overlay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 44px;
    align-items: center;
    justify-items: stretch;
  }
  .task-list-child .overlay textarea {
    padding: 3px;
    grid-column: span 4;
    grid-row: auto;
  }
  .task-list-child .overlay input,
.task-list-child .overlay select {
    text-align: center;
    align-self: stretch;
    padding: 0;
  }
  .task-list-child .overlay .button-edit-save {
    grid-column-start: 3;
    grid-row-start: 2;
    padding: 0.7rem;
    align-self: stretch;
  }
  .task-list-child .overlay .button-edit-cancel {
    grid-column-start: 4;
    grid-row-start: 2;
    padding: 0.7rem;
    align-self: stretch;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    padding: 0;
  }

  .service-bar {
    flex-direction: column;
    gap: 0;
    padding: 1em 1em 0.25em;
    margin: 0;
    align-items: center;
    padding: 0.2rem;
  }
  .service-bar li {
    padding: 0.1em;
  }

  .add-task-form {
    padding: 0.5rem;
  }

  .tasks-list-container {
    padding: 0 0.5rem;
  }
}
@media only screen and (max-width: 425px) {
  .task-list-child .sub-tasks-container {
    margin-left: 1rem;
  }

  .overlay {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 40px 40px;
  }
  .overlay textarea {
    padding: 3px;
    grid-column: span 2;
  }
  .overlay .button-edit-save {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .overlay .button-edit-cancel {
    grid-row-start: 3;
    grid-column-start: 2;
  }

  .validate-message {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=style.css.map */